:root {
  --bg-color: #f9f9f9 !important;
  --notice-bg: #f9f9f94d !important;
  --text-color: #1e1e1e;
  --primary-color: #4f46e5;
  --primary-color: #8a3ffc;
  --navbar-bg: #ffffff;
  --button-bg: #e5e7eb;
  --carousel-bg: url("./assets/carousel_light_bg.svg");
  --border-color: #d1d5db;

  --table-bg: #ffffff;
  --table-text: #1e1e1e;
  --table-border: #d1d5db;
  --table-row-even-bg: #f9fafb;
  --table-row-odd-bg: #ffffff;
  --table-row-hover-bg: #e0e7ff;

  --transition-speed: 0.3s;
  --transition-type: ease-in-out;
}

.dark {
  --carousel-bg: url("./assets/carousel_bg.svg");
  --bg-color: #0b090a !important;
   --notice-bg: #0b090a4c !important;
  --text-color: #e5e7eb;
  --primary-color: #4f46e5;
  --navbar-bg: #121212;
  --button-bg: #1f1f1f;
  --border-color: #374151;

  --table-bg: #121212;
  --table-text: #e5e7eb;
  --table-border: #374151;
  --table-row-even-bg: #1f2937;
  --table-row-odd-bg: #111827;
  --table-row-hover-bg: #4338ca;
  --transition-speed: 0.3s;
  --transition-type: ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition:
    background-color var(--transition-speed) var(--transition-type),
    color var(--transition-speed) var(--transition-type),
    border-color var(--transition-speed) var(--transition-type); */
}

html.dark {
  color-scheme: dark;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Azeret Mono', monospace !important;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--navbar-bg);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}