* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --bg-color: #ffffff;
   --text-color: #7a7a7a;
   --primary-color: #007bff;
 }
 
 body {
   background-color: var(--bg-color);
   color: var(--text-color);
   transition: background-color 0.3s ease, color 0.3s ease;
 }
 

 a {
   text-decoration: none;
   color: inherit;
 }