:root {
  --bg-color: #f9f9f9;
  --text-color: #1e1e1e;
  --primary-color: #8a8a8a;
  --navbar-bg: #ffffff;
  --button-bg: #e5e7eb;
  --carousel-bg: url("./assets/carousel_light_bg.svg");
  --border-color: #e0e0e0;
}

.dark {
  --carousel-bg: url("./assets/carousel_bg.svg");
  --bg-color: #0b090a;
  --text-color: #ffffff;
  --primary-color: #490fff;
  --navbar-bg: #121212;
  --button-bg: #1f1f1f;
  --border-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:
    background-color var(--transition-speed) var(--transition-type),
    color var(--transition-speed) var(--transition-type),
    border-color var(--transition-speed) var(--transition-type);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
  }
}

html.dark {
  color-scheme: dark;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}
